<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lrobot_ros2_control" params="name prefix  bus_config
      master_config
      can_interface_name
      master_bin">
    <ros2_control name="${name}" type="system">
        <hardware>
          <plugin>lrobot_control/LRobotSystemHardware</plugin>
          <param name="bus_config">${bus_config}</param>
          <param name="master_config">${master_config}</param>
          <param name="can_interface_name">${can_interface_name}</param>
          <param name="master_bin">"${master_bin}"</param>
        </hardware>
      <joint name="${prefix}front_wheel_joint">
        <param name="device_name">front_wheel_joint</param>
        <!-- <command_interface name="velocity"/> -->
        <!-- <command_interface name="position"/>
        <state_interface name="velocity"/> -->
        <state_interface name="position"/>
      </joint>
      <joint name="${prefix}front_motor_joint">
        <param name="device_name">front_motor_joint</param>
        <!-- <command_interface name="velocity"/> -->
        <!-- <command_interface name="position"/>
        <state_interface name="velocity"/> -->
        <state_interface name="position"/>
      </joint>
      <joint name="${prefix}back_wheel_joint">
        <param name="device_name">back_wheel_joint</param>
        <!-- <command_interface name="velocity"/> -->
        <!-- <command_interface name="position"/>
        <state_interface name="velocity"/> -->
        <state_interface name="position"/>
      </joint>
      <joint name="${prefix}back_motor_joint">
        <param name="device_name">back_motor_joint</param>
        <!-- <command_interface name="velocity"/> -->
        <!-- <command_interface name="position"/>
        <state_interface name="velocity"/> -->
        <state_interface name="position"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>